In [1]:
import numpy as np
import pandas as pd

In [2]:
place='/home/krishna/Desktop/UPDATED_NLP_COURSE/TextFiles/moviereviews.tsv'

In [3]:
df=pd.read_csv(place, sep='\t')

In [4]:
df.head()

  label                                             review
0   neg  how do films like mouse hunt get into theatres...
1   neg  some talented actresses are blessed with a dem...
2   pos  this has been an extraordinary year for austra...
3   pos  according to hollywood movies made in last few...
4   neg  my first press screening of 1998 and already i...

In [5]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer

In [6]:
sid = SentimentIntensityAnalyzer()

In [7]:
sid.polarity_scores(df['review'][1])

{'neg': 0.12, 'neu': 0.775, 'pos': 0.105, 'compound': -0.8618}

In [8]:
df.dropna(inplace=True)
blanks=[]
i=0
for rv in df['review']:
    if type(rv)==str:
        if rv.isspace==True:
            blanks.append(i)
    i=i+1

df.drop(blanks, inplace=True)

In [9]:
df['vader_score']=df['review'].apply(lambda review: sid.polarity_scores(review)['compound'])

In [10]:
df['pre_label']=df['vader_score'].apply(lambda score:'pos' if score>=0 else 'neg')

In [11]:
df.head()

,label,review,vader_score,pre_label
0,neg,how do films like mouse hunt get into theatres...,-0.9125,neg
1,neg,some talented actresses are blessed with a dem...,-0.8618,neg
2,pos,this has been an extraordinary year for austra...,0.9951,pos
3,pos,according to hollywood movies made in last few...,0.9972,pos
4,neg,my first press screening of 1998 and already i...,-0.2484,neg

In [12]:
from sklearn.metrics import classification_report,confusion_matrix,accuracy_score

In [13]:
print(classification_report(df['label'],df['pre_label']))

              precision    recall  f1-score   support

         neg       0.72      0.43      0.54       983
         pos       0.60      0.83      0.69       982

    accuracy                           0.63      1965
   macro avg       0.66      0.63      0.62      1965
weighted avg       0.66      0.63      0.62      1965

In [14]:
cm=confusion_matrix(df['label'],df['pre_label'])

In [15]:
print(accuracy_score(df['label'],df['pre_label']))

0.6335877862595419